* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background-color: #d4d4d4;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  padding-left: 20px;
}

.right-section {
  padding-right: 20px;
}

.top-menu {
  list-style-type: none;
  display: flex;
}

.top-menu li {
  margin-left: 20px;
}

.top-menu a {
  text-decoration: none;
  color: #233249;
  font-size: 0.9em;
}

nav {
  background-color: #233249;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left img {
  height: auto;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 35px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.language-switch {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  height: 100%;
}

.lang-btn {
  background-color: #fff;
  border: none;
  color: red;
  font-size: 1em;
  padding: 23px;
}

.search-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 23px;
}

.burger-menu {
  display: none;
}

.burger-icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Position below the nav */
    left: 0;
    width: 100%;
    background-color: #233249;
  }

  .menu-active {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .burger-menu {
    display: block;
  }

  .top-bar {
    display: none; /* Hide the top section */
  }
}
