* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background-color: #d4d4d4;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  padding-left: 20px;
}

.right-section {
  padding-right: 20px;
}

.top-menu {
  list-style-type: none;
  display: flex;
}

.top-menu li {
  margin-left: 20px;
}

.top-menu a {
  text-decoration: none;
  color: #233249;
  font-size: 0.9em;
}

nav {
  background-color: #233249;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left img {
  width: 80px;
  height: auto;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 35px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.language-switch {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  height: 100%;
}

.lang-btn {
  background-color: #fff;
  border: none;
  color: red;
  font-size: 1em;
  padding: 10px;
}

.search-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
}
