* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  font-family: "Roboto-regular", sans-serif;
  background-color: #d4d4d4;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  padding-left: 20px;
}

.right-section {
  padding-right: 20px;
}

.top-menu {
  list-style-type: none;
  display: flex;
}

.top-menu li {
  margin-left: 20px;
}

.top-menu a {
  text-decoration: none;
  color: #233249;
  font-size: 0.9em;
}

nav {
  font-family: "Roboto-regular", sans-serif;
  background-color: #233249;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left img {
  height: auto;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 35px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.language-switch {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  height: 100%;
}

.lang-btn {
  background-color: #fff;
  border: none;
  color: red;
  font-size: 1em;
  padding: 23px;
}

.search-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 23px;
}

.burger-menu {
  display: none;
}

.burger-icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Skjul menuen som standard */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Position under navigationen */
    left: 0;
    width: 100%;
    background-color: #233249;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .burger-menu {
    display: block; /* Vis burger-menuen p책 mobile enheder */
  }

  .top-bar {
    display: none; /* Skjul top-sektionen p책 mobile enheder */
  }

  /* N책r burger-menuen er aktiv, vis menuen */
  .menu.active {
    display: flex; /* Brug flex for at opretholde flex-direction: column */
  }

  /* Skjul logoet p책 mobile enheder */
  .nav-left .logo {
    display: none;
  }
}

/*footer*/

.footer {
  font-family: "Roboto-regular", sans-serif;
  background-color: #233249;
  color: white;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer h2 {
  color: white;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer h3 {
  color: white;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  padding: 16px;
}

.footer p {
  color: white;
}

.footer li {
  color: white;
  font-size: 14px;
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  list-style-type: none;
}
