@font-face {
  font-family: "Roboto-bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-light";
  src: url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

html {
  --fs-body: 20px;
  --fs-xl: 4.4rem; /* Dette svare til 88 px, som passer til vores styletile */
  --fs-l: 3.25rem;
  --fs-m: 1.6rem;
  --fs-s: 1rem;
  --fs-xs: 0.8rem;

  --primaer-clr: #e782a9;
  --sekundaer-clr: #233249;
  --tridaer-clr: #ededed;
  --overige-clr: #ea5045;

  --lh-main: 2em;

  --ff-headlines: "Roboto-bold", sans-serif;
  --ff-main: "Roboto-regular", sans-serif;
  --ff-special: "Roboto-regular", sans-serif;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--tridaer-clr);
}

.flex_col {
  text-align: center;
}

.overskrift {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 60px;
  color: #233249;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding: 40px;
}

.grid-item {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.grid-item h2 {
  font-size: var(--fs-m);
  margin-bottom: 10px;
  color: #233249;
}

.grid-item p {
  margin-bottom: 15px;
  font-family: var(--ff-main);
  font-size: var(--fs-xs);
}

.link-button {
  text-decoration: none;
  background-color: #e782a9;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--primaer-clr);
}

.link-button:hover {
  background-color: #233249;
}

.link-button_button {
  text-decoration: none;
  background-color: var(--sekundaer-clr);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--sekundaer-clr);
}

.link-button_button:hover {
  background-color: #e782a9;
}
.bookingh1 {
  color: #ffffff;
  font-size: var(--fs-xl);
  display: flex;
  justify-content: left;
  margin-left: 100px;
  padding: 40px;
}

.booking-section {
  background-color: #e782a9;
}

.booking-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
}

.booking-item img {
  width: 80%;
  margin: 50px;
}

.booking-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h2del2 {
  color: #ffffff;
  font-size: var(--fs-l);
  margin-bottom: 0px;
}

p {
  color: var();
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
