/* Sørg for at denne CSS er inkluderet */
.view_product {
  display: grid;
  grid-template-columns: 1fr 1fr; /* To lige store kolonner */
  gap: 20px; /* Lidt mellemrum mellem kolonnerne */
  max-width: 100%; /* Sørg for at containeren ikke er for smal */
}

.view_product .col {
  padding: 10px; /* Lidt padding indvendigt for layout */
  margin: 10px;
  gap: 10px;
}

/* Sørg for at billederne ikke bliver for store */
.view_product img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-family: "Roboto-regular", sans-serif;
  color: var(--sekundaer-clr);
}

.button_pos {
  margin-top: 1rem;
}
